<template name="projectPage">


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel-heading">
                <h3 class="panel-title">Project Title: {{title}}</h3>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Add a new screen: {{> screenForm}}</p>
        </div>
    </div>



    <div class="row">
        <!-- start screens list -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <!-- data context outside of #each is current project -->

            {{#each listScreens}}
            <!-- now the data context is per screen with this project_id -->
            {{>screen }} 
            {{/each}}

        </div>
        <!-- end screens list -->
    </div>



    <!-- start canvas -->
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 canvas">
        <div class="row">

{{#each listScreens}}
<!-- now the data context is per screen with this project_id -->
    {{#each listUserStories}}
    <!-- now the data context is per userstory with this screen_id -->
    
<!-- if this screen contains a highlighted story -->
        {{#if highlighted}} {{title}} <!-- WORKING! -->
<!-- and if the highlighted story has a connectsTo value -->
            {{#if connectsTo}} {{connectsTo}} <!-- WORKING! -->
<!-- display the screen with the id that = connectsTo -->
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    this story connectsTo: {{connectsTo}}
                    {{>screen ..}}
                
                </div>
            {{else}}
<!-- else display the next step form -->
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{>nextStep}} ehco for form
                </div>
            {{/if}}
<!-- if none is true do nothing? -->
        {{/if}} 
    {{/each}}
{{/each}}



            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{#each listUserStories}} 
                    <!-- {{#if highlighted}} -->
                        {{> nextStep}}
                    <!-- {{/if}} -->
                {{/each}}
            </div>   
        

        </div>
    </div>
    <!-- end canvas -->




    




</template>