<template name="projectPage">


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel-heading">
                <h3 class="panel-title">Project Title: {{title}}</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Add a new screen: {{> screenForm}}</p>
        </div>
    </div>

    <div class="row">
        <!-- start screens list -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{#each listScreens}} {{> screen}} {{/each}}
        </div>
        <!-- end screens list -->

        <!-- start canvas -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" id="canvas">
            {{#each listStories}} 
              {{#if highlighted}}
              <p>What should "{{title}}" connect to?</p>
            <p><a href="#">A new screen</a></p>
            <p><a href="#">An existing screen</a></p>
              {{/if}} 
            {{/each}}
        </div>
        <!-- end canvas -->
    </div>




</template>