<template name="projectPage">


        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
            <a class="navbar-brand" href="/">CURRENT PROJECT TITLE</a>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{urlFor 'dashboard'}}">Prototype View</a>
                    </li>
                    <li><a href="{{urlFor 'dashboard'}}">Task View</a>
                    </li>
                    <li><a href="{{urlFor 'dashboard'}}">App preview</a>
                    </li>
                </ul>
            </div>
        </nav>



        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="https://trello.com/b/Jzkll8ZB/happy-ducks">Trello board</a>
                </li>
            </ul>
        </nav>


    
</template>