<template name="projectPage">


    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">
                <h3 class="panel-title">Project Title: {{title}}</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Add a new screen: {{> screenForm}}</p>
        </div>
    </div>

    <div class="row">
        <!-- start screens list -->
        <div class="col-md-4">
            {{#each listScreens}} {{> screen}} {{/each}}
        </div>
        <!-- end screens list -->

        <!-- start canvas -->
        <div class="col-md-8" id="canvas">
            {{#each listStories}}
              {{#if highlighted}}
              <p>What should "{{title}}" connect to?</p>
            <p>{{> subScreenForm}}</p>
            <p>{{> searchForm}}</p>
            <p><a href="#">An end point</a></p>
              {{/if}}
            {{/each}}
        </div>
        <!-- end canvas -->
    </div>




</template>