<template name="screen">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}
                <button type="button" class="btn btn-default" id="rename" data-collection="Screens">rename</button>
                <!-- images are located in public/images I believe Meteor picks this up automagically everywhere...? -->
                <img src="/images/max.png" alt="" width="20px" height="20px" align="right" id="show" data-screenid="{{_id}}"> 
            </h3>
        </div>
        <div class="panel-body">
            {{> userStoryForm}}
            <p></p>
            {{#each listUserStories}}
            <p>{{title}}
                <button type="button" class="btn btn-default" id="renameStory" data-collection="Userstories">rename</button>
            </p>
            {{/each}}
        </div>
    </div>

</template>