<template name="screen">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}
                <img src="/images/max.png" alt="" width="20px" height="20px" align="right" class="toggleScreen">    
                <img src="/images/edit.png" alt="" width="20px" height="20px" align="right" class="renameScreen" data-collection="Screens">
            </h3>

        </div>
        <div class="panel-body">
            {{> userStoryForm}}
            <p></p>
            {{#each listUserStories}}
            <p>
                
                {{#if highlighted}}
                <a href="#" class="toggleStory" style="background-color: #B2FF99">
                    {{title}}
                </a>

                {{else}}
                <a href="#" class="toggleStory" style="">
                    {{title}}
                </a>
                {{/if}}

                <img src="/images/edit.png" alt="" width="20px" height="20px" align="right" class="renameStory" data-collection="Userstories">

            </p>
            {{/each}}
        </div>
    </div>

</template>