<template name="screenForm">
	
	<form class="screenForm" role="form">

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">


            <div class="form-group">

                <input type="text" name="" id="screenTitle" class="form-control" value="" required="required" placeholder="Screen name?">

            </div>

        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <div class="form-group">

                <button type="submit" class="btn btn-primary">Go!</button>

            </div>
        </div>
    </form>

</template>