<template name="home">


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome to HappyDucks</h3>
                </div>
                {{#if currentUser}}
                <div class="panel-body">
                    When you're ready, <a href="{{pathFor 'dashboard'}}">start creating projects</a>
                </div>
                {{else}}
                <div class="panel-body">Hi, welcome to Happy Ducks. Please sign up^</div>
                {{/if}}
            </div>
        </div>

    </div>
</template>