<template name="projectForm">



    <form class="projectForm" role="form">

        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">


            <div class="form-group">

                <input type="text" name="" id="projectTitle" class="form-control" value="" required="required" placeholder="Create a new project?">

            </div>

        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <div class="form-group">

                <button type="submit" class="btn btn-primary">Go!</button>

            </div>
        </div>
    </form>


</template>