<template name="projectForm">
    <form class="projectForm" role="form">
        <div class="col-md-11">
            <div class="form-group">
                <input type="text" name="" id="projectTitle" class="form-control" required="required" placeholder="Create a new project?">
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Go!</button>
            </div>
        </div>
    </form>
</template>
