<template name="dashboard">

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Your projects</h1>
                </div>
                <div class="panel-body">
                    {{> projectForm}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

            {{#each projects}}

            <div class="well">

            {{#linkTo route="project.show"}}
                    <h3>{{title}}</h3>
            {{/linkTo}}

                    <a href="#" class="deleteProject" data-collection="Projects" align="right"><img src="/images/trash.png" alt="Nuke!" width="20px" height="20px" /></a>
                    <a href="" class="renameProjects" data-collection="Projects" align="right"><img src="/images/edit.png" alt="Rename project" width="20px" height="20px" /></a>

            </div>

            {{/each}}

        </div>
    </div>

</template>