<template name="screen">

    <!-- the screen design is currently a panel -->
    <!-- the main div contains the Screen._id as its # -->
    <!-- the data context is the current screen object in whatever #each is calling this template -->
    <div class="panel panel-primary" data-id="{{_id}}">
        <div class="panel-heading">

            <h3 class="panel-title">{{screenTitle}}
            <img src="/images/edit.png"  class="renameScreen imgButtons" data-collection="Screens">
            <img src="/images/trash.png" class="deleteScreen imgButtons" alt="Nuke!"  data-collection="Screens" />
            </h3>


        </div>
        <div class="panel-body">
            {{> userStoryForm}}
        </div>



        <!-- the userstories are contained in a listgroup -->
        <ul class="list-group">
            {{#each listUserStories}}
            <!-- The cursor data context is a Userstory with this screen_id -->
            <li class="list-group-item">
                <!-- this span could set the badge count -->
                <span class="badge">{{#if funnelSteps}}{{funnelSteps}}{{/if}}</span>

                <img src="/images/edit.png" alt="" width="20px" height="20px" align="right" class="renameStory" data-collection="Userstories">
                <img src="/images/trash.png" alt="Nuke!" width="20px" height="20px" class="deleteStory" align="right" data-collection="Userstories" />

                <!-- this is where I style the highlight -->
                {{#if highlighted}}
                <a href="#" class="toggleStory" style="background-color: #B2FF99">{{title}}</a> {{else}}
                <a href="#" class="toggleStory" style="">{{title}}</a> {{/if}}

            </li>

            {{/each}}
        </ul>

    </div>



</template>
